workflows/COMBINED_OTP_AUTH.json
{
  "name": "PN Das - Combined OTP Auth",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "send-webhook",
      "name": "Send OTP Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        250
      ],
      "id": "verify-webhook",
      "name": "Verify OTP Webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body;\nconst email = (input.email || '').trim().toLowerCase();\nconst name = (input.name || '').trim();\n\nif (!email || !name) {\n  return [{ json: { sent: false, error: 'Name and email required' } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst now = Date.now();\n\n// Rate limit 60s\nif (now - (staticData[email + '_lastSent'] || 0) < 60000) {\n  return [{ json: { sent: false, error: 'Please wait 60s' } }];\n}\n\nconst otp = Math.floor(100000 + Math.random() * 900000).toString();\nstaticData[email] = { otp, expires: now + 10 * 60 * 1000 };\nstaticData[email + '_lastSent'] = now;\n\nreturn [{ json: {\n  sent: true, \n  email, \n  name, \n  otp, \n  timestamp: new Date().toISOString().replace('T',' ').substring(0,19), \n  userAgent: $json.headers['user-agent'] || 'Unknown' \n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "id": "send-logic",
      "name": "Generate OTP"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body;\nconst email = (input.email || '').trim().toLowerCase();\nconst inputOtp = (input.otp || '').trim();\nconst name = (input.name || '').trim();\n\nconst staticData = $getWorkflowStaticData('global');\nconst stored = staticData[email];\nconst now = Date.now();\n\nconst headers = $json.headers || {};\nconst userAgent = headers['user-agent'] || 'Unknown';\nconst timestamp = new Date().toISOString().replace('T',' ').substring(0,19);\n\nif (!stored) {\n  return [{ json: { verified: false, error: 'No OTP found. Request a new one.',\n    _action: 'OTP_FAILED', name, email, userAgent, timestamp } }];\n}\nif (now > stored.expires) {\n  delete staticData[email];\n  return [{ json: { verified: false, error: 'OTP expired.',\n    _action: 'OTP_FAILED', name, email, userAgent, timestamp } }];\n}\nif (stored.otp !== inputOtp) {\n  return [{ json: { verified: false, error: 'Invalid OTP.',\n    _action: 'OTP_FAILED', name, email, userAgent, timestamp } }];\n}\n\n// Success - clean up\ndelete staticData[email];\n\nreturn [{ json: { verified: true,\n  _action: 'LOGIN_SUCCESS', name, email, userAgent, timestamp } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        250
      ],
      "id": "verify-logic",
      "name": "Validate OTP"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "PN Das Academy - Your Login OTP",
        "message": "=Your OTP is: {{ $json.otp }}\nValid for 10 minutes.\n- PN Das Academy",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        500,
        0
      ],
      "id": "send-email",
      "name": "Send Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "SPre3Gehb74Ugz0S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16FQzASWXkl_QpBMaDCKxmy8CrP0NlF_Opielw6q87wA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 86418891,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Telecaller Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Action": "={{ $json.otp ? 'OTP_SENT' : $json._action }}",
            "IP / Device": "={{ $json.userAgent }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        750,
        120
      ],
      "id": "log-to-sheet",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BFqPEpM3v5qi5ZB0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1000,
        120
      ],
      "id": "final-response",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Send OTP Webhook": {
      "main": [
        [
          {
            "node": "Generate OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify OTP Webhook": {
      "main": [
        [
          {
            "node": "Validate OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OTP": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate OTP": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
